body {
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

form {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
